body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, #root {
	height: 100%;
}

.soft-input {
	border: none;
}

.soft-input:focus {
	outline: none;
}

.example {
  height: 400px;
  width: calc(100% - 40px);
  padding: 20px;
}

.list {
  height: 100%;
  width: 100px;
  float: left;
  border-right: 1px solid rgb(199, 199, 199);
  box-sizing: border-box;
  background: #f2f2f2;
  user-select: none;
}

.list-item {
  height: 30px;
  width: 100%;
  border-bottom: 1px solid rgb(199, 199, 199);
  text-align: center;
  display: table;
  cursor: pointer;
}

.list-item:hover {
  background: #fafafa;
}